@import '../../../Assets/Sass/Variables';
@import '../../../Assets/Sass/Mixins';
.modal-container {
  @media (min-width: $mobile-width) {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: $fullWidth;
    height: $fullHeight;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    .modal-content {
      background-color: #fefefe;
      height: 100vh;
      //   border: 1px solid #888;
      width: 100%;
    }
    .top-content {
      @include flex(row, nowrap, flex-start);
      height: 40vh;
      .close-modal {
        flex-basis: 5%;
        margin: 5vh 0 0 0;
        span {
          font-size: 30px;
          color: $fontColor;
        }
      }
      .modal-doctor-image {
        @include background(repeat, cover, 50% 50%, relative);
        @include profileImage(middle, 50%);
        height: 50%;
        flex-basis: 100px;
        margin: 5vh 0 0 0;
      }
    }
  }
}
