@import '../../../Assets/Sass/Variables';

.link-container {
  .book-appointment-btn {
    background: $fontColor;
    color: white;
    height: 40px;
    width: 200px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid white;
    font-weight: $bolderFont;
    cursor: pointer;
  }
  .getStarted-btn {
    @extend .book-appointment-btn;
  }
}

.link-container :hover {
  background: white;
  color: $fontColor;
  border: 2px solid $fontColor;
}

// .ourDoctors-btn {
//   @extend .book-appointment-btn;
//   width: 150px;
// }

// .ourDoctors-btn :hover {
//   background: white;
//   color: $fontColor;
// }
