@import '../../../Assets/Sass/Variables';
@import '../../../Assets/Sass/Mixins';

/* Loading styling */

.loading-state-none {
  display: none;
}

.loading-state {
  text-align: center;
  margin-top: 15vh;
}

.session-controller {
  @include flex(row, nowrap, flex-start);
  width: 100%;
  .session-btn {
    flex-basis: 50%;
    text-align: center;
    height: 45px;
    background: orange;
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    p {
      margin-top: 10px;
      color: white;
    }
    &:hover {
      background: white;
      border: 1px solid orange;
      p {
        color: orange;
      }
    }
  }
  .complete-btn {
    @extend .session-btn;
    color: white;
    border: 1px solid red;
    border-right: 1px solid white;
    font-size: 20px;
    background: red;
    &:hover {
      color: red;
      border: 1px solid red;
    }
  }
}
