.visit-container {
  margin-top: 3vh;

  h1 {
    font-size: 20px;
  }

  .errors {
    margin-top: 20px;
    color: red;
    font-size: 16px;
  }
  input {
    padding-bottom: 150px;
    width: 97%;
  }
}
