.visit-container {
  margin-top: 3vh;

  h1 {
    margin-left: 20px;
    font-size: 20px;
  }

  form {
    margin-left: 20px;

    input {
      margin-top: 20px;
      padding-bottom: 150px;
      width: 90%;
    }
  }
}
