@import '../../../Assets/Sass/Variables';

.top-content {
  @media (min-width: $mobile-width) {
    display: block;
    margin: 5vh 2.5% 5vh 2.5%;
  }
  @media (min-width: $tablet-width) {
    margin: 5vh 10% 0 10%;
  }
  @media (min-width: 1000px) {
    margin: 5vh 20% 0 20%;
  }
}
.header {
  h1 {
    color: $fontColor;
    font-size: 22px;
    line-height: 30px;
    font-weight: bolder;
  }

  @media (min-width: $tablet-width) {
    h1 {
      line-height: 35px;
    }
  }

  @media (min-width: 1000px) {
    h1 {
      line-height: 40px;
    }
  }
}

.available-doctors {
  margin-top: 10vh;
  border-bottom: solid 1px $fontColor;
  height: 20px;
  margin-right: 2vw;
  h1 {
    text-align: justify;
    color: $fontColor;
    font-size: 20px;
    font-weight: $bolderFont;
  }
}
