@import '../../../Assets/Sass/Variables';
.total-btn {
  margin-top: 2vh;
  height: 50px;
  background: $fontColor;
  color: white;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  @media (min-width: 500px) {
    width: 99%;
  }
  @media (min-width: 1280px) {
    width: 98.5%;
  }
}
