@import '../../../Assets/Sass/Variables';
@import '../../../Assets/Sass/Mixins';

.payment-container {
  color: $fontColor;
  padding-bottom: 200px;
}
.payment-wrapper {
  margin: 0 5% 0 5%;

  @media (min-width: 500px) {
    margin: 0 15% 0 15%;
  }
  @media (min-width: 700px) {
    margin: 0 20% 0 20%;
  }
  @media (min-width: 850px) {
    margin: 0 25% 0 25%;
  }
  @media (min-width: 1024px) {
    margin: 0 30% 0 30%;
  }
}
.schedule-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.dateTime-container {
  margin: 7vh 0vw 0 0vw;
}

.headers {
  margin-top: 5vh;

  h1 {
    font-size: 20px;
  }
}
