@import '../../../Assets/Sass/Variables';
@import '../../../Assets/Sass/Mixins';
nav {
  height: 10vh;
  border-bottom: 3px solid $fontColor;
  @media (min-width: $mobile-width) {
    @include flex(row, nowrap, space-between);
    .heading-container {
      top: 0;
      color: $fontColor;
      h1 {
        margin: 3vh 0 0 20px;
        font-size: 25 px;
      }
    }
    .burger-wrapper {
      @include flex(column, nowrap, flex-start);
      top: 3vh;
      div {
        margin: 5px 25px 0 0px;
        border-bottom: 3px solid $fontColor;
        width: 30px;
      }
    }
  }
}
