@import '../../../Assets/Sass/Variables';

.ourDoctors-container {
  display: grid;
  grid-template-columns: 5% 95% 5%;
  color: $fontColor;
  padding-bottom: 50vh;
  margin: 5vh 5% 0 0;
  .OurDoctors-heading {
    grid-column: 2/3;
    text-align: center;
    h1 {
      font-size: 24px;
      line-height: 35px;
    }
  }

  .ourDoctors-list {
    display: grid;
    grid-column: 2/3;
    margin: 5vh 10% 0 10%;
    text-align: center;
  }
  .ourDoctors {
    margin-bottom: 7vh;
    .docImg {
      height: 300px;
      width: auto;
    }
    .name {
      font-size: 20px;
      font-weight: $bolderFont;
    }
    .reviews {
      font-size: 16px;
      color: blue;
      cursor: pointer;
    }
    button {
      height: 50px;
      width: 180px;
    }
  }

  @media (min-width: 540px) {
    .ourDoctors-list {
      grid-column: 2/3;
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 5%;
      margin: 5vh 5% 0 5%;
    }
    .ourDoctors {
      display: inline-block;
    }
  }

  @media (min-width: 720px) {
    .ourDoctors {
      .docImg {
        width: auto;
        height: 320px;
      }
    }
  }

  @media (min-width: 950px) {
    .ourDoctors-list {
      grid-column: 2/3;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0%;
      margin: 5vh 0 0 0;
      .docImg {
        height: 275px;
        width: auto;
      }
    }
  }
}
