.payment-form {
  margin-left: 20px;

  .expiry {
    width: 90%;
  }

  .security {
    width: 90%;
  }

  .input-wrapper {
    margin-top: 20px;
  }

  input {
    width: 90%;
    height: 40px;
  }
}
