@import '../../../Assets/Sass/Variables';
@import '../../../Assets/Sass/Mixins';

.frontImage {
  width: 100%;
  height: 40vh;
  border-bottom-left-radius: 120px 40px;
  border-bottom-right-radius: 120px 40px;
  @media (min-width: 470px) {
    height: 45vh;
  }
  @media (min-width: 620px) {
    height: 55vh;
  }
  @media (min-width: 700px) {
    display: none;
  }
}

.frontView-content {
  margin: 3vh 10% 0 10%;
  text-align: center;
  h1 {
    color: $fontColor;
    font-size: 26px;
  }
  .eHealth-message {
    text-align: center;
    font-size: 16px;
    color: $fontColor;
    line-height: 25px;
  }
  @media (min-width: 700px) {
    display: none;
  }
}

.frontView-content-flex {
  display: none;
}
.link-container {
  .book-appointment-btn {
    background: $fontColor;
    color: white;
    height: 55px;
    width: 200px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid white;
    font-weight: $bolderFont;
    cursor: pointer;
  }
  .getStarted-btn {
    @extend .book-appointment-btn;
  }
}

.link-container :hover {
  background: white;
  color: $fontColor;
  border: 2px solid $fontColor;
}
/* tablet and desktop view */
.tabletDesktopView {
  display: none;
  @include background(repeat, cover, 50% 50%, relative);
  @media (min-width: 700px) {
    display: block;
    height: 90vh;
    position: relative;
    opacity: 1;
    .frontView-content-grid {
      display: grid;
      grid-template-columns: 57% 40% 3%;
      position: absolute;
      color: white;
      margin-top: 30vh;
      h1 {
        grid-column: 2/3;
        font-size: 28px;
      }
      .frontView-message-grid {
        grid-column: 2/3;
        text-align: justify;
        margin-top: -2vh;
      }
      .eHealth-message-grid {
        font-size: 18px;
        color: white;
        line-height: 25px;
      }
      .frontView-btn-container-grid {
        grid-column: 2/3;
        text-align: justify;
      }
    }
  }
  @media (min-width: 1018px) {
    height: 95vh;
    .frontView-content-grid {
      margin-top: 35vh;
    }
  }
  @media (min-width: 1130px) {
    height: 100vh;
    .frontView-content-grid {
      margin-top: 40vh;
    }
  }
  @media (min-width: 1300px) {
    .frontView-content-grid {
      h1 {
        font-size: 30px;
      }
      .eHealth-message-grid {
        font-size: 20px;
      }
    }
  }
}
