@import '../../../Assets/Sass/Variables';

.ourMessage-container {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  color: $fontColor;
  .ourMessage-content {
    grid-column: 2/3;
    h1 {
      font-size: 23px;
      line-height: 35px;
      text-align: center;
    }
    p {
      margin-top: 5vh;
      font-size: 18px;
      line-height: 30px;
      text-align: justify;
    }
    .ourMessage-btn {
      margin-top: 5vh;
      text-align: center;
      button {
        background: $fontColor;
        color: white;
        height: 55px;
        width: 200px;
        font-size: 16px;
        border-radius: 15px;
        border: 1px solid white;
        font-weight: $bolderFont;
        cursor: pointer;
        &:hover {
          background: white;
          color: $fontColor;
          border: 2px solid $fontColor;
        }
      }
    }
  }
  @media (min-width: 700px) {
    margin-right: 2%;
  }

  @media (min-width: 900px) {
    grid-template-columns: 8% 84% 8%;
    text-align: center;
    .ourMessage-content {
      grid-column: 2/3;
      h1 {
        font-size: 28px;
      }
      p {
        margin-top: 5vh;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
      }
    }
  }
}
