@import '../../../Assets/Sass/Variables';
@import '../../../Assets/Sass/Mixins';

.clientReviews-container {
  margin-top: 20vh;
  padding-bottom: 50vh;
  width: 100%;
  color: $fontColor;
}

.clientReviews-content {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  .review-heading {
    grid-column: 2/3;
    text-align: center;
    h1 {
      font-size: 24px;
      font-size: 23px;
    }
  }
  .checked {
    padding-left: 5px;
    color: orange;
  }
  .clientReviews {
    position: relative;
    background: white;
    grid-column: 2/3;
    margin: 15vh 0% 0 0;
    padding-bottom: 30px;
  }
  .clientReviews-tablet {
    display: none;
  }
  .review-wrapper {
    text-align: center;
    h1 {
      font-size: 22px;
    }
    p {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .clientImage-container {
    margin-top: -50px;
    text-align: center;
    .reviewers-image {
      position: relative;
      border-radius: 50%;
      height: 120px;
      width: 100px;
      z-index: 1;
      text-align: center;
      border: 1px solid $fontColor;
    }
  }
  .pagination {
    grid-column: 2/3;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    :hover {
      background: white;
    }
    button {
      width: 50px;
      height: 50px;
      background: #e6e6e6;
      border: 1px solid #e6e6e6;
      cursor: pointer;
    }
  }
}

.clientReviews-content {
  @media (min-width: 900px) {
    .clientReviews {
      display: none;
    }
    .clientReviews-tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      position: relative;
      grid-column: 2/3;
      margin: 15vh 0% 0 0;
      .review-flex-first {
        background: white;
        padding-bottom: 30px;
        margin-right: 3%;
      }
      .review-flex-second {
        background: white;
        padding-bottom: 30px;
        margin-left: 3%;
      }
    }
  }

  @media (min-width: 1200px) {
    grid-template-columns: 8% 84% 8%;
    .clientReviews-tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      position: relative;
      grid-column: 2/3;
      margin: 15vh 0% 0 0;
      .review-flex-first {
        background: white;
        padding-bottom: 30px;
        margin-right: 3%;
      }
      .review-flex-second {
        background: white;
        padding-bottom: 30px;
        margin-left: 3%;
      }
    }
  }
}
