@import '../../../Assets/Sass/Variables';
@import '../../../Assets/Sass/Mixins';

.clientReviews-container {
  margin-top: 5vh;
  width: 100%;
  color: $fontColor;
  padding-bottom: 50px;
}

.clientReviews-content {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  .review-heading {
    grid-column: 2/3;
    text-align: center;
    h1 {
      font-size: 23px;
      line-height: 35px;
    }
  }

  .clientReviews {
    position: relative;
    background: white;
    grid-column: 2/3;
    margin: 15vh 0% 0 0;
    padding-bottom: 30px;
  }
  .clientReviews-tablet {
    display: none;
  }
  .review-wrapper {
    text-align: center;
    h1 {
      font-size: 22px;
    }
    p {
      font-size: 20px;
      line-height: 30px;
      margin: 0 20px 0 20px;
    }
    .rating-stars {
      margin-top: 20px;
      .checked-star {
        padding-left: 10px;
        color: orange;
      }
    }
  }
  .clientImage-container {
    margin-top: -50px;
    text-align: center;
    .reviewers-image {
      position: relative;
      border-radius: 50%;
      height: 120px;
      width: 100px;
      z-index: 1;
      text-align: center;
      border: 1px solid $fontColor;
    }
  }
  .pagination {
    grid-column: 2/3;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    :hover {
      background: white;
    }
    button {
      width: 50px;
      height: 50px;
      background: #e6e6e6;
      border: 1px solid #e6e6e6;
      cursor: pointer;
      .btn {
        font-size: 18px;
      }
    }
  }
}

.clientReviews-content {
  @media (min-width: 540px) {
    margin-top: 15vh;
  }
  @media (min-width: 900px) {
    margin-top: 20vh;
    .review-heading {
      h1 {
        font-size: 28px;
      }
    }
    .clientReviews {
      display: none;
    }
    .pagination {
      display: none;
    }
    .clientReviews-tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      position: relative;
      grid-column: 2/3;
      gap: 2%;
      margin: 15vh 0% 0 0;
      .review-first {
        background: white;
        padding-bottom: 30px;
        margin-right: 3%;
        width: 100%;
      }
      .review-second {
        background: white;
        padding-bottom: 30px;
        margin-right: 3%;
        width: 100%;
      }
      .review-third {
        background: white;
        padding-bottom: 30px;
        width: 100%;
      }
    }
  }

  @media (min-width: 1200px) {
    grid-template-columns: 8% 84% 8%;
    margin-top: 15vh;
    .clientReviews-tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      position: relative;
      grid-column: 2/3;
      margin: 15vh 0% 0 0;
    }
  }
}
