.checked {
  color: orange;
  cursor: pointer;
}

.unchecked {
  @extend .checked;
  color: black;
}

.fiveStar:hover {
  color: orange;
}

.fourStar:hover {
  color: orange;
}

.threeStar:hover {
  color: orange;
}

.twoStar:hover {
  color: orange;
}
