@import '../../../Assets/Sass/Variables';

.appointment-setter {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .errors {
    color: red;
    font-size: 16px;
  }

  .date-picker {
    height: 40px;
    width: 96%;
    @media (min-width: 400px) {
      width: 96.5%;
    }
    @media (min-width: 500px) {
      width: 97%;
    }
    @media (min-width: 1220px) {
      width: 97.5%;
    }
  }
  .time-selector {
    margin-top: 5px;
    .time-picker {
      height: 45px;
      color: $fontColor;
      width: 99%;
    }
  }
}
