@import '../../../Assets/Sass/Variables';
@import '../../../Assets/Sass/Mixins';

.doctor-images {
    @media (min-width:$mobile-width) {
        flex-basis: 40%;
        @include background(repeat, cover, 50% 50%, relative);
        vertical-align: middle;
        // width: 100%;
        height: 90%;
        border-radius: 50%;
    }

}