@import '../../Assets/Sass/Mixins';
@import '../../Assets/Sass/Variables';

.content-wrapper {
  color: $fontColor;
  padding-top: 10px;
}

.card-container {
  border: 1px solid $fontColor;
  margin: 5vh 10vw 0 10vw;
  height: 180px;
  @include flex(row, nowrap, space-between);
  @media (min-width: 500px) {
    margin: 7vh 20% 0 20%;
  }
  @media (min-width: 768px) {
    margin: 7vh 25% 0 25%;
  }
  @media (min-width: 1000px) {
    margin: 7vh 30% 0 30%;
  }
  @media (min-width: 1200px) {
    margin: 7vh 35% 0 35%;
  }
}

.profile-wrapper {
  margin-left: 10px;

  .doctor-name {
    font-size: 20px;
    font-weight: $bolderFont;
  }

  .checked {
    color: orange;
  }

  .numberRating {
    margin-left: 10px;
    font-weight: bolder;
  }

  .view-profile {
    color: blue;
    font-size: 15px;
    width: 150px;
    cursor: pointer;
  }
}

.image-container {
  position: relative;
  @include background(repeat, cover, 50% 50%, relative);
  @include profileImage(middle, 50%);
  height: 55%;
  flex-basis: 90px;
  margin: 7vh 10px 0 0;
  @media (min-width: 500px) {
    margin: 5vh 5% 0 0;
    height: 60%;
  }
}
