@import '../../../Assets/Sass/Mixins';
@import '../../../Assets/Sass/Variables';

.list-container {
  @media (min-width: $mobile-width) {
    width: $fullWidth;
    display: block;
    margin: 5vh 0 5vh 0;
    width: 95%;
    .doctors-container {
      width: 100%;
      @include flex(row, nowrap, flex-start);
      margin: 5vh 2vw 0 2vw;
      height: 180px;
      border-bottom: 0.5px solid lightgray;
    }
  }
}
