@import '../../../Assets/Sass/Variables';
@import '../../../Assets/Sass/Mixins';

.noAppointments-container {
  text-align: center;
  margin-top: 15vh;
  h1 {
    font-size: 18px;
    color: $fontColor;
  }
}
