@import '../../../Assets/Sass/Variables';
@import '../../../Assets/Sass/Mixins';

.registration-container {
  height: auto;
  width: $fullWidth;
  background: white;
  color: $fontColor;
}

.registration-wrapper {
  color: $fontColor;
  position: $relativePosition;
  margin-top: 5vh;
  margin: 5vh 10% 0 10%;

  @media (min-width: 500px) {
    margin: 7vh 20% 0 20%;
  }

  @media (min-width: 768px) {
    margin: 7vh 25% 0 25%;
  }
  @media (min-width: 1000px) {
    margin: 7vh 30% 0 30%;
  }
  @media (min-width: 1200px) {
    margin: 7vh 35% 0 35%;
  }
}

.register-heading {
  text-align: center;
  h1 {
    font-size: 25px;
  }
}

.form-container {
  .input-wrapper {
    margin-top: 3vh;

    p {
      color: red;
    }
  }

  input {
    height: 45px;
    width: 98%;
  }
}

.button-container {
  margin-top: 5vh;
  width: 100%;
  @include flex(row, nowrap, space-between);

  p {
    font-weight: bolder;
    color: $fontColor;
    font-size: 15px;

    span {
      cursor: pointer;
      font-weight: bolder;
    }
  }

  button {
    background: $fontColor;
    color: white;
    font-size: 18px;
    width: 90px;
    height: 45px;
    // border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    color: $fontColor;
    background: white;
    font-weight: bolder;
  }
}
