@import '../../Assets/Sass/Variables';
@import '../../Assets/Sass/Mixins';
.payment-container {
  color: $fontColor;
  padding-bottom: 200px;
}

.content-wrapper {
  margin-top: 10vh;
}

.dateTime-container {
  margin: 7vh 0vw 0 0vw;
}

.top-heading {
  margin-left: 3vw;
  h1 {
    font-size: 26px;
  }

  .heading {
    margin-left: 5px;
  }
}

.datePicker {
  margin-top: 5vh;
  p {
    font-size: 20px;
    margin-left: 80px;
  }
  .selected-date {
    @include select(115px, 25px, -10px, 80px);
  }
  .selected-time {
    @include select(120px, 25px, -10px, 80px);
  }
}

.creditCard-container {
  margin: 7vh 0vw 0 0vw;
  .card {
    margin: 5vh 0px 0 0px;
  }
  form {
    margin-top: 5vh;
  }
}
