@import '../../../Assets/Sass/Variables';

.withPeer-view {
  height: 100vh;
  width: 100%;

  .my-video-container {
    margin-top: 5vh;
    height: 40vh;
    width: 80%;
    margin-left: 10%;

    .my-video {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
  .peer-view {
    margin-top: 5vh;
    height: 40vh;
    width: 80%;
    margin-left: 10%;
    .peer-video {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}

.withoutPeer-view {
  height: 100vh;
  width: 100%;

  .my-video-container {
    margin-top: 15vh;
    height: 35vh;
    width: 90%;
    margin-left: 5%;
    .my-video {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .peer-view {
    margin-top: 5vh;
    height: 35vh;
    width: 90%;
    margin-left: 5%;
  }
  .message {
    position: relative;
    width: 100%;
    height: 100%;

    h1 {
      color: $fontColor;
      font-size: 22px;
      text-align: center;
      margin-top: 20vh;
    }
  }
}

// : <div className='withoutPeer-view'>
// <div className='my-video-container'>
//   <div className='my-video' />
// </div>
// <div className='peer-view'>
//   <div className='message'>{waitingMessage}</div>
// </div>
