@import '../../../Assets/Sass/Variables';
@import '../../../Assets/Sass/Mixins';
.withPeer-view {
  height: 100vh;
  width: 100%;

  .my-video-container {
    margin-top: 5vh;
    height: 40vh;
    width: 80%;
    margin-left: 10%;

    .my-video {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
  .peer-view {
    margin-top: 5vh;
    height: 40vh;
    width: 80%;
    margin-left: 10%;
    .peer-video {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}

.withoutPeer-view {
  max-width: 1440px;
  .my-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .my-video {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }

  // .peer-view {
  //   margin: -15vh 2% 0 2%;
  // }
  // .message {
  //   position: relative;
  //   width: 100%;
  //   background: black;
  //   height: 45vh;
  //   h1 {
  //     position: absolute;
  //     color: white;
  //     font-size: 22px;
  //     margin-top: 20vh;
  //     margin-left: 15vw;
  //   }
  // }
}
