/* NavBar flex mixin */
@mixin flex($direction, $wrap, $justify) {
  position: relative;
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
}

@mixin background($repeat, $cover, $position, $relative) {
  background-repeat: $repeat;
  background-size: $cover;
  background-position: $position;
  position: $relative;
}

@mixin profileImage($alignMiddle, $radius) {
  vertical-align: $alignMiddle;
  border-radius: $radius;
}

@mixin select($width, $height, $marginTop) {
  width: $width;
  height: $height;
  margin-top: $marginTop;
}

@mixin loginBtn($background, $width) {
  background: $background;
  color: white;
  font-size: 18px;
  width: $width;
  height: 50px;
  cursor: pointer;
}

@mixin loginBtnHover($color) {
  color: $color;
  background: white;
  font-weight: bolder;
}

@mixin bookButton(
  $color,
  $bolderFont,
  $background,
  $border,
  $padding,
  $width,
  $radius,
  $cursor
) {
  color: $color;
  font-weight: $bolderFont;
  background: $background;
  border: $border;
  padding: $padding;
  width: $width;
  border-radius: $radius;
  cursor: $cursor;
}
