/* NavBar flex mixin */
@mixin flex($direction, $wrap, $justify) {
  position: relative;
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
}

/* Background Image mixin */
@mixin background($repeat, $cover, $position, $relative) {
  background-repeat: $repeat;
  background-size: $cover;
  background-position: $position;
  position: $relative;
}

/* profile image mixin */
@mixin profileImage($alignMiddle, $radius) {
  vertical-align: $alignMiddle;
  border-radius: $radius;
}

/* select mixin */
@mixin select($width, $height, $marginTop) {
  width: $width;
  height: $height;
  margin-top: $marginTop;
}

/* login button mixin */
@mixin loginBtn($background, $width) {
  background: $background;
  color: white;
  font-size: 18px;
  width: $width;
  height: 50px;
  cursor: pointer;
}

@mixin loginBtnHover($color) {
  color: $color;
  background: white;
  font-weight: bolder;
}

/* book button mixin */
@mixin bookButton($bolderFont, $padding, $width, $radius) {
  color: white;
  font-weight: $bolderFont;
  background: orange;
  border: solid white;
  padding: $padding;
  width: $width;
  border-radius: $radius;
  cursor: pointer;
}

/* video chat button mixin */
@mixin videoChatButton($background, $width, $height) {
  background: $background;
  color: white;
  width: $width;
  height: $height;
  border: 1px solid white;
  cursor: pointer;
}