/* Scss variables */
$fullHeight: 100vh;
$fullWidth: 100%;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$fontColor: rgb(88, 72, 72);
$fontWeight: bold;
$textCenter: center;
$relativePosition: relative;