@import '../../../../Assets/Sass/Variables';
@import '../../../../Assets/Sass/Mixins';

.noAppointments-container {
  text-align: center;
  margin-top: 15vh;
  h1 {
    font-size: 18px;
    color: $fontColor;
  }
}

.top-heading {
  margin-top: 10vh;
  h1 {
    font-size: 25px;
    color: $fontColor;
    text-align: center;
  }
}

.booking-btn {
  margin-top: 5vh;
  text-align: center;
  button {
    width: 60%;
    height: 60px;
    background: orange;
    color: white;
    border: 1px solid white;
    font-size: 15px;
    font-weight: $bolderFont;
    &:hover {
      cursor: pointer;
    }
  }
}
.appointment {
  margin-left: 5%;
  margin-right: 5%;
  margin: 10vh 5% 0 5%;
  font-weight: $bolderFont;
  color: $fontColor;
  padding-bottom: 300px;
  .appointment-heading {
    height: 40px;
    border: 1px solid $fontColor;
    h1 {
      text-align: center;
      font-size: 18px;
    }
  }
  .appointments-container {
    .appointment-schedule {
      border: 1px solid $fontColor;
      height: 60px;
      color: $fontColor;
      text-align: center;
      .fontAwesome {
        margin-top: 20px;
        margin-right: 40px;
      }
      .date {
        margin-left: 20px;
      }
      .time {
        margin-left: 10px;
      }
    }
    .action-container {
      @include flex(row, nowrap, flex-start);
      width: 100%;
      .cancel-btn {
        flex-basis: 33.33%;
        height: 45px;
        border: 1px solid lightgrey;
        border-left: 1px solid orange;
        background: orange;
        color: white;
        font-weight: $bolderFont;
        cursor: pointer;
        &:hover {
          background: white;
          border: 1px solid orange;
          color: orange;
        }
      }
      .reschedule-btn {
        @extend .cancel-btn;
      }
      .session-btn {
        @extend .cancel-btn;
        border-right: 1px solid orange;
      }
    }
  }
}

@media (min-width: 768px) {
  .appointment {
    margin: 10vh 15% 0 15%;
  }
}

@media (min-width: 1024px) {
  .appointment {
    margin: 10vh 20% 0 20%;
  }
}
