@import '../../Assets/Sass/Variables';
@import '../../Assets/Sass/Mixins';

.nav-container {
  background: white;
  height: 10vh;
  width: 100%;
}

.nav-container-underlined {
  @extend .nav-container;
  border-bottom: 1px solid $fontColor;
}

.navigation {
  @include flex(row, nowrap, space-between);
}

.heading-container {
  color: $fontColor;
  width: 150px;
  h1 {
    margin: 3vh 0 0 20px;
    font-size: 25px;
    cursor: pointer;
    @media (min-width: 768px) {
      font-size: 30px;
      width: 150px;
    }
  }
  .home-link {
    text-decoration: none;
    color: $fontColor;
  }
}

.burger-wrapper-none {
  display: none;
}
.burger-wrapper {
  display: none;
  @media (max-width: 768px) {
    cursor: pointer;
    @include flex(column, nowrap, flex-start);
    top: 3vh;
    div {
      margin: 5px 15px 0 0px;
      border-bottom: 3px solid $fontColor;
      width: 30px;
    }
  }
}

.close-menu-none {
  display: none;
}
.close-menu {
  display: none;
  @media (max-width: 768px) {
    display: block;
    cursor: pointer;
    margin: 15px 15px 0 0;
    font-size: 33px;
    color: $fontColor;
  }
}
.nav-menu {
  display: none;
}

.nav-menu-mobile {
  display: none;
  @media (max-width: 769px) {
    display: block;
    z-index: 1;
    left: 0;
    position: absolute;
    margin: 50px 0px 0 0;
    width: 100%;
    background: $fontColor;
    ul {
      margin-top: 5px;
      list-style: none;
      padding-left: 10px;
    }
    li {
      margin-right: 20px;
      color: white;
      cursor: pointer;
      font-size: 18px;
    }
    .link {
      text-decoration: none;
      line-height: 30px;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-choice {
      margin-left: 20px;
    }
  }
}

.nav-menu-desktop {
  display: none;
  @media (min-width: 769px) {
    display: block;
    ul {
      @include flex(row, nowrap, space-evenly);
      margin-right: 20px;
      list-style: none;
      margin-top: 30px;
    }
    li {
      margin-right: 25px;
      cursor: pointer;
      font-size: 18px;
      color: $fontColor;
    }
    .link {
      text-decoration: none;
      line-height: 30px;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-choice {
      position: absolute;
      z-index: 1;
      background: $fontColor;
      width: 100%;
      li {
        display: block;
        padding: 10px 0 10px 5px;
        color: white;
        &:hover {
          background-color: white;
          width: 97%;
          color: $fontColor;
        }
      }
    }
  }
}
