@import '../../Assets/Sass/Variables';
@import '../../Assets/Sass/Mixins';

.nav-container {
  background: white;
  height: 10vh;
  width: 100%;
}

.heading-container {
  color: $fontColor;
  width: 120px;
  h1 {
    margin: 3vh 0 0 20px;
    font-size: 25px;
    cursor: pointer;
    @media (min-width: 768px) {
      font-size: 30px;
      width: 150px;
    }
  }
}
.navigation {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.burger-wrapper {
  @media (max-width: 768px) {
    cursor: pointer;
    @include flex(column, nowrap, flex-start);
    top: 3vh;
    div {
      margin: 5px 25px 0 0px;
      border-bottom: 3px solid $fontColor;
      width: 30px;
    }
  }
}
.nav-menu {
  display: none;
  @media (max-width: 768px) {
    z-index: 1;
    left: 0;
    position: fixed;
    margin: 50px 0px 0 0;
    width: 100%;
    background: $fontColor;
    ul {
      margin-top: 5px;
      list-style: none;
      padding-left: 10px;
    }
    li {
      margin-right: 20px;
      color: white;
      cursor: pointer;
      font-size: 18px;
    }
    .link {
      text-decoration: none;
      line-height: 30px;
    }
    .dropdown-choice {
      margin-left: 20px;
    }
  }
}
