@import '../../Assets/Sass/Variables';
@import '../../Assets/Sass/Mixins';

.nav-container {
  background: white;
  height: 10vh;
  width: 100%;
}
.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.heading-container {
  color: $fontColor;
  width: 120px;
  h1 {
    margin: 3vh 0 0 20px;
    font-size: 25px;
    cursor: pointer;
    @media (min-width: 768px) {
      font-size: 30px;
      width: 150px;
    }
  }
}

/* hide the burger menu at 768px width */
.burger-wrapper {
  display: none;
  @media (max-width: 768px) {
    cursor: pointer;
    @include flex(column, nowrap, flex-start);
    top: 3vh;
    div {
      margin: 5px 25px 0 0px;
      border-bottom: 3px solid $fontColor;
      width: 30px;
    }
  }
}

.nav-menu {
  @media (max-width: 768px) {
    display: none;
    z-index: 1;
    left: 0;
    position: fixed;
    margin: 50px 0px 0 0;
    width: 100%;
    background: $fontColor;
    ul {
      margin-top: 5px;
      list-style: none;
      padding-left: 10px;
    }
    li {
      margin-right: 20px;
      color: white;
      cursor: pointer;
      font-size: 18px;
    }
    .link {
      text-decoration: none;
      line-height: 30px;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-choice {
      margin-left: 20px;
    }
  }
  @media (min-width: 769px) {
    display: block;
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      margin-right: 20px;
      list-style: none;
      margin-top: 30px;
    }
    li {
      margin-right: 25px;
      cursor: pointer;
      font-size: 18px;
      color: $fontColor;
    }
    .link {
      text-decoration: none;
      line-height: 30px;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-choice {
      position: absolute;
      z-index: 1;
      background: white;
      width: 100%;
      li {
        display: block;
        padding: 10px 0 10px 5px;
        &:hover {
          background-color: #ddd;
          width: 95%;
        }
      }
    }
  }
}
